@media screen and (min-width: 981px) {
    .container {
        width: 980px;
        margin: auto;
    }
    #navbar .container {
        top: auto;
        display: grid;
        padding: 0;
        grid-template-columns: 200px 1fr;
    }
    #navbar-menu {
        display: none !important;
    }
    #navbar-links {
        display: flex;
        justify-content: flex-end;
        background: none;
        border: none;
        width: 100%;
        position: static;
        padding: 0;
    }
    #navbar-links li a {
        line-height: 100px;
        min-width: 100px;
        padding: 0 10px;
        color: #333;
    }
    #navbar-links li:last-child {
        line-height: 100px;
    }
    #navbar-links .btn {
        margin: 0;
        display: inline-block;
        line-height: 41px;
        border-radius: 25px;
    }
    #main-header {
        display: flex;
        flex-direction: row-reverse;
    }
    #main-header-title,
    #main-header-subtitle,
    #main-header-footer {
        padding: 0;
        text-align: left;
    }
}