* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: hsl(180, 66%, 49%);
    --secondary-color: hsl(257, 27%, 26%);
    --light-dark: hsl(0, 0%, 75%);
    --secondary-dark: hsl(257, 7%, 63%);
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: hsl(260, 8%, 14%);
}

.btn {
    background: #ddd;
    color: #fff !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.btn-green {
    background-color: var(--primary-color);
    color: var(--light-dark);
}

#navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    user-select: none;
    background-color: #fff;
}

#navbar-logo {
    padding-top: 10px;
}

#navbar-menu span {
    display: block;
    content: ' ';
    width: 25px;
    height: 4px;
    margin-bottom: 6px;
    background: var(--secondary-dark);
}

#navbar-links {
    display: none;
    position: absolute;
    width: 93%;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
    background-color: var(--secondary-color);
}

#navbar-links ul {
    padding: 0 20px;
}

#navbar-links li {
    padding: 0;
    list-style-type: none;
}

#navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

#navbar-links li.navbar-separator {
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

#navbar-links .btn {
    margin: 15px 0 30px 0;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}