:root {
    --primary-color: hsl(180, 66%, 49%);
    --secondary-color: hsl(257, 27%, 26%);
    --light-dark: hsl(0, 0%, 75%);
    --secondary-dark: hsl(257, 7%, 63%);
    --background: hsl(0, 0%, 97%);
    --background-panel: #fff;
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: hsl(260, 8%, 14%);
    --danger: #f97272;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

.btn {
    background: #ddd;
    color: #fff !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.btn-green {
    background-color: var(--primary-color);
    color: var(--light-dark);
}

.btn-violet {
    background-color: var(--secondary-color);
    color: var(--light-dark);
}

#navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    user-select: none;
    background-color: #fff;
}

#navbar-logo {
    padding-top: 10px;
}

#navbar-menu span {
    display: block;
    content: ' ';
    width: 25px;
    height: 4px;
    margin-bottom: 6px;
    background: var(--secondary-dark);
}

#navbar-links {
    display: none;
    position: absolute;
    width: 93%;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    background-color: var(--secondary-color);
}

#navbar-links.active {
    display: block;
}

#navbar-links li {
    padding: 0;
    list-style-type: none;
}

#navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

#navbar-links li.navbar-separator {
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

#navbar-links .btn {
    margin: 15px 0 30px 0;
}

#main-header-image {
    width: 100%;
    height: 300px;
}

#main-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50px;
}

#main-header-title {
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 45px;
    line-height: 50px;
}

#main-header-subtitle {
    padding: 10px 50px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
    color: var(--secondary-dark);
}

#main-header-footer {
    text-align: center;
}

#main-header-footer button {
    padding: 15px 40px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
}

#main-form {
    margin: auto;
    width: 90%;
    padding: 20px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    background-image: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;
}

#url-to-shorten {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: 3px solid transparent;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    outline: none;
}

#url-to-shorten::placeholder {
    color: var(--secondary-dark);
    opacity: 1;
}

#url-to-shorten:-ms-input-placeholder {
    color: var(--secondary-dark);
}

#url-to-shorten::-ms-input-placeholder {
    color: var(--secondary-dark);
}

#main-form  .btn {
    display: block;
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}

#main-form-input-alert {
    display: none;
    color: var(--danger);
    margin: 5px 0 20px 0;
    font-style: italic;
}

.is-empty #url-to-shorten {
    margin: 0;
    border-color: var(--danger);
}

.is-empty #main-form-input-alert {
    display: block;
}

#shorten-results {
    width: 90%;
    margin: 20px auto;
}

.shorten-result {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 50px;
}

.shorten-result-title {
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid var(--background-panel);
    font-size: 18px;
    font-weight: 100;
    color: var(--secondary-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.shorten-result-body {
    padding: 0px 20px 20px 20px;
}

.shorten-result-body a {
    color: var(--primary-color);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.shorten-result-footer {
    padding: 0 20px 20px 20px;
}

.shorten-result-footer button {
    display: block;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    border-radius: 6px;
}

#main-statistics {
    width: 90%;
    margin: 80px auto 60px auto;
    padding: 20px;
    background: var(--background-panel);
    text-align: center;
}

#main-statistics h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

#main-statistics p {
    padding: 0 40px;
    color: var(--dark-blue);
    font-size: 16px;
}

.main-timeline-item {
    width: 90%;
    margin: 90px auto;
    text-align: center;
    background-color: var(--background-panel);
    margin-bottom: 60px;
    position: relative;
    padding: 40px;
    border-radius: 6px;
}

.main-timeline-item:before {
    content: ' ';
    display: block;
    width: 7px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -130px;
    z-index: 1;
    background-color: var(--primary-color);
}

.main-timeline-item:first-child:before {
    display: none;
}

.main-timeline-icon {
    position: relative;
}

.main-timeline-icon:after {
    content: ' ';
    background-color: var(--secondary-color);
    width: 85px;
    height: 85px;
    border-radius: 90px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.main-timeline-icon:before {
    content: ' ';
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 90px;
    background-color: var(--background);
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    margin: auto;
}

.main-timeline-icon img {
    position: absolute;
    top: -57px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.main-timeline-title {
    margin-bottom: 0px;
    font-size: 26px;
}

.main-timeline-text {
    color: var(--dark-blue);
    font-size: 16px;
}

#main-boost {
    height: 250px;
    background-color: var(--secondary-color);
    background-image: url(../images/bg-boost-mobile.svg);
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-boost-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
}

#main-boost-action {
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 40px;
}

#footer {
    width: 100%;
    background-color: var(--dark-violet);
    padding: 60px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

#footer ul {
    margin: 0;
}

#footer li {
    list-style: none;
}

#footer li h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

#footer li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}

#footer-logo img {
    filter: invert();
}

#footer-social {
    margin-top: 30px !important;
}

#footer-social li {
    margin: 0 10px;
    display: inline-block;
}

.attribution {
    padding: 10px 0;
    background: #333;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: #eee;
    text-decoration: none;
}       